/* header parent container */
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profile-info {
  padding-top: 120px;
}

.profile-header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #008f32;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
}

.profile-header h2 {
  color: white;
  font-weight: normal;
  margin: auto;
}

@media only screen and (min-width: 1024px) {
  .header-container {
    width: 100%;
    flex-direction: row;
    gap: 1rem;
  }

  .profile-info {
    width: 50%;
  }
}

