/* sets .nav-bar CSS rules */
.nav-bar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 120px ;
  width: 100vw;
  background-color: #4B0082;
  color: #FFFFFF;
  padding: 0 1.5em 0;
  align-items: center;
}

/* sets font for span.project-name */
.project-name {
  font-family: 'Bungee', sans-serif;
  font-size: larger;
}

/* .new-tweet parent container */
.sub-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* sets font for .new-tweet */
.write-tweet span {
  font-family: 'Source Sans Pro', sans-serif;
}

/* sets .write-tweet-icon image to red */
.write-tweet-icon {
  color: red;
}

/* mobile device responsive esign CSS */
@media(max-width: 1024px) {
  .nav-bar {
    background-color: #008f32;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
  }
}