
/* Parent container for tweet form */
.new-tweet  {
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: bold;
}

.new-tweet label {
  color: black;
}

/* new tweet form POST request to "/tweets" */
.new-tweet form {
  width: 100%;
  padding-top: 50px;
}

/* tweet form text input area */
.new-tweet textarea {
  width: 100%;
  background: transparent;
  display: block;
  color: #4B0082;
  font-weight: 600;
  border: 0;
  border-bottom: 5px solid black;
  margin: 1rem 0 1rem;
}

/* parent container for form button and coounter */
.button-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* tweet form submit button */
.new-tweet button {
  align-content: flex-start;
  font-family: 'bungee', sans-serif;
  background-color: #008f32;
}

/* character counter for tweet form  */
.counter {
  align-content: flex-start;
  font-family: 'bungee', sans-serif;
  color: black;
}

/* error message on empty textarea or over character limit */
.error-message {
  margin-top: 1rem;
  width: 100%;
  background-color: lightcoral;
  text-align: center;
  font-family: 'bungee';
}

/* Desktop/Laptop Responsive Design */
@media only screen and (min-width: 1024px) {
  .new-tweet form {
    padding-top: 150px;
  }
}
 
