.new-tweet {
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: bold;
}

.new-tweet label {
  color: black;
}

.new-tweet form {
  width: 100%;
  padding-top: 50px;
}

.new-tweet textarea {
  width: 100%;
  background: transparent;
  display: block;
  color: #4B0082;
  font-weight: 600;
  border: 0;
  border-bottom: 5px solid black;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.new-tweet button {
  align-content: flex-start;
  font-family: 'bungee', sans-serif;
  background-color: #008f32;
}

.buttonCounterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-tweet output {
  align-content: flex-start;
  font-family: 'bungee', sans-serif;
  color: black;
}

.errorMessage {
  margin-top: 1rem;
  width: 100%;
  background-color: lightcoral;
  text-align: center;
  font-family: 'bungee';
}

/* Desktop/Laptop Responsive Design */
@media only screen and (min-width: 1024px) {
  #newTweet {
    padding-top: 150px;
  }
}
/* 
