/* tweet container for timeline of objects from "/tweets" */
.tweet-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: space-evenly;
}

/* tweet article posts  */
.tweet-container article {
  display: flex;
  width: 100%;
  margin: 3rem 0 3rem;
  padding: 1rem;
  border: 5px solid black;
  flex-direction: column;
}

/* parent container for header of tweet articles */
.tweet-container header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}

/* header container for avatar, username, handle */
.tweet-container header div {
  justify-content: flex-start;
  display: flex;
  gap: 1rem;
}

/* tweet article profile avatar */
.tweet-container img.avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50px;
}

/* tweet article profile username */
.tweet-container span.username {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

/* tweet article profile handle */
.tweet-container span.handle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: grey;
}

/* tweet article typed content */
.tweet-container p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  color: black;
  padding: 0.5rem;
}

/* parent container for footer  */
.tweet-container footer {
  display: flex;
  padding: 1rem;
  border-top: 5px solid black;
  justify-content: space-between;
}

/* footer container for timeago and nav buttons */
.tweet-container footer div {
  display: flex;
  color: white;
}

/* footer nav container */
.tweet-container footer nav {
  display: flex;
}

/* footer nav buttons */
.tweet-container footer nav button {
  display: flex;
  justify-content: space-around;
  color: black;
  background-color: #A4a1a6;
  border: 0;
}

/* CSS to change color of foooter buttons on hover */
.tweet-container footer nav button:hover {
  color: white;
}

/* CSS to show box-shadow for tweet container article */
.tweet-container article:hover {
  box-shadow: 10px 5px 5px green;
}
